<main>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="card-left">
                    <div class="img-background"></div>
                    <h1 class="left-title">Sistem Informasi <br> Manajemen Klinik</h1>
                    <p class="left-description">Employee Branding Motto</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card-right">
                    <div class="card-header">
                        <img src="../assets/img/logo.png" class="img-logo" alt="">
                        <h3 class="right-title">Selamat Datang</h3>
                        <p class="right-description">Silahkan masukan Email dan password</p>
                    </div>
                    <div class="card-body">

                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>