<main>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-8 col-md-8">
                <div class="card-left">
                    <div class="img-background"></div>
                    <h1 class="left-title">Sistem Informasi <br> Manajemen Klinik</h1>
                    <p class="left-description">Employee Branding Motto</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 content">
                <div class="card-right">
                    <div class="card-header">
                        <img src="../assets/img/logo.png" class="img-logo" alt="">
                    </div>
                    <div class="card-body">
                        <div class="right-title">Selamat Datang</div>
                        <div class="right-description">Silahkan masukan Email dan password</div>
                        <div class="form-group">
                            <input type="email" name="" placeholder="Email" id="" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="" placeholder="Password" id="" class="form-control">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="button">Masuk</button>
                        <a href="">Lupa Password</a>
                        <div class="content-footer">
                            <div class="text-footer">Belum punya akun?</div>
                            <a href="">Daftar sekarang</a>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="copyright">©2023  KMNC</div>
                </div>
            </div>
        </div>
    </div>
</main>